@tailwind base;
@tailwind components;
@tailwind utilities;

/* デフォルトのカスタムプロパティ */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Inter, sans-serif;
  --font-mono: monospace;
}

/* ダークモード時のカスタムプロパティ */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Body にカスタムプロパティを適用 */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
